.dialog-title {
    margin: -24px -24px 10px -24px;
    padding: 20px 24px 20px 24px;
    background-color: #5900ff;
}

.company-form-grid {
    display: grid;
    gap: 1px;
    padding-top: 10px;    
}
